<?xml version="1.0"?> 
<robot name="2010robotic">

    <material name="black">
        <color rgba="0.2 0.2 0.2 0.95"/>
    </material>

    <link name="base_link">
        <visual>
            <origin xyz="0.0 0.0 0.05" rpy="0.0 0.0 0.0"/>
            <geometry>
                <mesh filename="meshes/2010robotic.obj" scale="0.02 0.02 0.01" />
            </geometry>
          <material name="black"/>
        </visual>

        <collision concave="yes" name="collision_0">
           <origin xyz="0.0 0.0 0.05" rpy="0.0 0.0 0.0"/>
            <geometry>
                <mesh filename="meshes/2010robotic.obj" scale="0.02 0.02 0.01" />
            </geometry>
        </collision>

        <inertial> 
            <mass value="0"/>
            <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
        </inertial> 

    </link>
</robot>
